@-webkit-keyframes rotate {
	 0% {
		 transform: rotate(0);
	}
	 100% {
		 transform: rotate(360deg);
	}
}
 @-moz-keyframes rotate {
	 0% {
		 transform: rotate(0);
	}
	 100% {
		 transform: rotate(360deg);
	}
}
 @-o-keyframes rotate {
	 0% {
		 transform: rotate(0);
	}
	 100% {
		 transform: rotate(360deg);
	}
}
 @keyframes rotate {
	 0% {
		 transform: rotate(0);
	}
	 100% {
		 transform: rotate(360deg);
	}
}

@font-face {

	font-family: Coves Light;
	src: url("rec/fonts/Coves/Coves Light.otf");

}

@font-face {

	font-family: Coves Bold;
	src: url("rec/fonts/Coves/Coves Bold.otf")

}

 body {
	 width: 100vw;
	 height: 100vh;
	 margin: 0;
	 padding: 0;
	 background-image: url('rec/home_page_img.png');
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-position: center;
	 color: #fff;
	 font-family: 'Calibri';
	 font-weight: 300;
}
 .m-intro {
	 text-align: center;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 height: 100%;
	 margin: 0 auto;
	 min-width: 785px;
	 overflow: hidden;
	 position: relative;
}
 .m-intro:before, .m-intro:after {
	 display: block;
	 content: " ";
	 width: 2560px;
	 height: 2560px;
	 position: absolute;
	 margin-top: -1280px;
	 margin-left: -1280px;
	 transform-origin: center;
	 background-position: center;
	 background-repeat: no-repeat;
	 z-index: 50;
	 top: 50%;
	 left: 50%;
}
 .m-intro:before {
	 background-image: url('https://image.ibb.co/dwBeKk/circle_inner.png');
	 background-size: 100% auto;
	 -webkit-animation: rotate 30s infinite linear;
	 -moz-animation: rotate 30s infinite linear;
	 -o-animation: rotate 30s infinite linear;
	 animation: rotate 30s infinite linear;
}
 .m-intro:after {
	 background-image: url('https://image.ibb.co/gTN8C5/circle_outer.png');
	 background-size: 100% auto;
	 -webkit-animation: rotate 80s infinite linear;
	 -moz-animation: rotate 80s infinite linear;
	 -o-animation: rotate 80s infinite linear;
	 animation: rotate 80s infinite linear;
}
 .m-intro .e-text {
	 width: 785px;
	 position: relative;
	 z-index: 100;
}
 .m-intro .e-text h1 {
	 color: #FFFFFF;
	 text-transform: lowercase;
	 font-size: 208px;
	 line-height: 170px;
	 border:8px solid;
	 margin: 30px 0;
	 position: relative;

}

.m-intro .e-text h1.part1 {

	color:#FFFFFF;
	font-family:'Coves Light';
	font-weight: normal;
	padding: 70px 0;

}

.m-intro .e-text span.part2 {

	 color:#5EFF00;
	 font-family:'Coves Bold';
	 font-weight:normal;
	 padding: -10px 70px;

}
 .m-intro .e-text .preamble {
	 max-width: 80%;
	 display: block;
	 margin: 0 auto;
}
 .bgParticles {
	 position: absolute;
	 border-radius: 50%;
	 top: 50%;
	 left: 50%;
	 z-index: 5;
	 width: 1000px;
	 height: 600px;
	 opacity: 0.4;
	 transform: translate(-50%, -50%);
}
