@import url('https://fonts.googleapis.com/css?family=Montserrat:800i&display=swap');

@font-face {

	font-family: Coves Light;
	src: url("rec/fonts/Coves/Coves Light.otf");

}

@font-face {

	font-family: Coves Bold;
	src: url("rec/fonts/Coves/Coves Bold.otf")

}

 body {

	 width: 100vw;
	 height: 100vh;
	 margin: 0;
	 padding: 0;
	 background-image: url('rec/home_page_img.png');
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-position: center;
	 color: #fff;
	 font-family: 'Calibri';
	 font-weight: 300;
	 overflow-y: hidden;
	 overflow-x: hidden;

}

#wrapper {

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;

}

#loader {

	position: fixed;
	top: calc(50% - 59.5px);
	left: calc(50% - 98px);
	width: 100%;
	height: 100%;
	z-index: 1001;

}

#wrapper #loader .cart {

	z-index:1001;
	display: block;
	position: relative;
	left: 0;
	top: 0;
	width: 196px;
	height: 119px;

}

#wrapper #loader .preloader {

	display: block;
	position: relative;
	left: 12%;
	top: 0;
	width: 25px;
	height: 25px;

	border: 3px solid transparent;
	border-top-color: #FFFFFF;
	border-radius: 50%;
	z-index: 1001;

	animation: spin 0.75s linear infinite reverse;

}

#wrapper #loader .preloader.first:after, #wrapper #loader .preloader.second:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
		border: 3px solid transparent;
    border-top-color: #5EFF00;
		border-radius: 50%;
		animation: spin 0.3s linear infinite;

}

#wrapper #loader .preloader.first {

	position: absolute;
	left: 115px;
	top: 125px;

}

#wrapper #loader .preloader.second {

 position: absolute;
 left: 20px;
 top: 125px;

}

#wrapper .loader-transition {

	position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #8551FF;
  z-index: 1000;

}

.load #wrapper .loader-transition {

 transform: translateY(-100%);
 transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);

}

.load #wrapper {

	transform: translateY(-100%);
	opacity: 0;
	transition: all 0.3s 1s ease-out;
	visibility: hidden;

}

.load #wrapper #loader {

	opacity: 0;
	transition: all 0.3s ease-out;

}

#wrapper #loader h4.text {

	position: relative;
	left: -20px;
	font-family: 'Coves Bold';
	font-size: 65px;

}

#horizontal-scroll-wrapper {
	width:100vh;
	height:100vw;
	transform: rotate(-90deg) translateX(-100vh);
	transform-origin: top left;
	overflow-y:scroll;
	overflow-x:hidden;
	position: absolute;
}

#inner-horizontal-scroll-wrapper {
	display: flex;
	flex-direction: row;
	width: 580vw;
	transform: rotate(90deg) translateY(-100vh);
	transform-origin: top left;
}

#inner-horizontal-scroll-wrapper .block {
	width: 100vw;
	height: 100vh;
}

 .main-page {
	 text-align: center;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 height: 100%;
	 margin: 0 auto;
	 min-width: 785px;
	 overflow: hidden;
	 position: relative;
}
 .main-page:before, .main-page:after {
	 display: block;
	 content: " ";
	 width: 2560px;
	 height: 2560px;
	 position: absolute;
	 margin-top: -1280px;
	 margin-left: -1280px;
	 transform-origin: center;
	 background-position: center;
	 background-repeat: no-repeat;
	 z-index: 1;
	 top: 50%;
	 left: 50%;
}

 .main-page .title {
	 width: 785px;
	 position: relative;
	 top: -15%;
	 z-index: 2;
}
 .main-page .title h1 {
	 color: #FFFFFF;
	 text-transform: lowercase;
	 font-size: 205px;
	 line-height: 170px;
	 border:5px solid;
	 margin: 30px 0;
	 position: relative;

}

.main-page .title h1.part1 {

	color:#FFFFFF;
	font-family:'Coves Light';
	font-weight: normal;
	padding: 70px 0;

}

.main-page .title span.part2 {

	 color:#5EFF00;
	 font-family:'Coves Bold';
	 font-weight:normal;
	 padding: -10px 70px;

}
 .main-page .title .motto {
	 max-width: 80%;
	 display: block;
	 margin: 0 auto;
	 font-family: 'Montserrat', sans-serif;
}

#button {

	display: flex;
	font-size: 2.5rem;
	color: white;

	align-items: center;
	justify-content: center;

	width: 250px;
	height: 75px;

	position: relative;
	top: -30%;
	left: calc(50% - 125px);

	cursor: pointer;

}

.get-started {
	--borderWidth: 5px;
	position: relative;
	border-radius: var(--borderWidth);
	background-color: #8551FF;
	box-shadow: inset 0 0 0 5px white;
	z-index:1;
}

.get-started h4.part1 {

	color: #FFFFFF;
	font-family: 'Coves Light';
	font-weight: normal;

}

.get-started span.part2 {

	color: #5EFF00;
	font-family: 'Coves Bold';
	font-weight: normal;

}

.get-started::after {
	content: '';
	position: absolute;
	background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 2px;
	background-size: 300% 300%;
	clip-path: polygon(0% 100%, 5px 100%, 5px 100%, 5px 100%, 5px 100%, 5px 100%, 5px 100%, 5px 100%, 5px 100%, 0% 100%);
}

.get-started.ready::after {
	 animation: frame-leave 0.75s forwards ease-in-out, gradient-animation 4s ease-in-out infinite;
 }

.get-started.ready:hover::after {
	 animation: frame-enter 0.75s forwards ease-in-out reverse, gradient-animation 4s ease-in-out infinite;
 }

/* motion */
@keyframes gradient-animation {
	0% {
		background-position: 15% 0%;
	}
	50% {
		background-position: 85% 100%;
	}
	100% {
		background-position: 15% 0%;
	}
}

    @keyframes frame-enter {
      0% {
        clip-path: polygon(0% 100%, 5px 100%, 5px 5px, calc(100% - 5px) 5px, calc(100% - 5px) calc(100% - 5px), 5px calc(100% - 5px), 5px 100%, 100% 100%, 100% 0%, 0% 0%);
      }
      25% {
        clip-path: polygon(0% 100%, 5px 100%, 5px 5px, calc(100% - 5px) 5px, calc(100% - 5px) calc(100% - 5px), calc(100% - 5px) calc(100% - 5px), calc(100% - 5px) 100%, 100% 100%, 100% 0%, 0% 0%);
      }
      50% {
        clip-path: polygon(0% 100%, 5px 100%, 5px 5px, calc(100% - 5px) 5px, calc(100% - 5px) 5px, calc(100% - 5px) 5px, calc(100% - 5px) 5px, calc(100% - 5px) 5px, 100% 0%, 0% 0%);
      }
      75% {
        clip-path: polygon(0% 100%, 5px 100%, 5px 5px, 5px 5px, 5px 5px, 5px 5px, 5px 5px, 5px 5px, 5px 0%, 0% 0%);
				-webkit-clip-path: polygon(0% 100%, 5px 100%, 5px 5px, 5px 5px, 5px 5px, 5px 5px, 5px 5px, 5px 5px, 5px 0%, 0% 0%);
      }
      100% {
        clip-path: polygon(0% 100%, 5px 100%, 5px 100%, 5px 100%, 5px 100%, 5px 100%, 5px 100%, 5px 100%, 5px 100%, 0% 100%);
				-webkit-clip-path: polygon(0% 100%, 5px 100%, 5px 100%, 5px 100%, 5px 100%, 5px 100%, 5px 100%, 5px 100%, 5px 100%, 0% 100%);
      }
    }

    @keyframes frame-leave {
      0% {
        clip-path: polygon(0% 100%, 5px 100%, 5px 5px, calc(100% - 5px) 5px, calc(100% - 5px) calc(100% - 5px), 5px calc(100% - 5px), 5px 100%, 100% 100%, 100% 0%, 0% 0%);
      }
      25% {
        clip-path: polygon(0% 100%, 5px 100%, 5px 5px, calc(100% - 5px) 5px, calc(100% - 5px) calc(100% - 5px), calc(100% - 5px) calc(100% - 5px), calc(100% - 5px) 100%, 100% 100%, 100% 0%, 0% 0%);
      }
      50% {
        clip-path: polygon(0% 100%, 5px 100%, 5px 5px, calc(100% - 5px) 5px, calc(100% - 5px) 5px, calc(100% - 5px) 5px, calc(100% - 5px) 5px, calc(100% - 5px) 5px, 100% 0%, 0% 0%);
      }
      75% {
        clip-path: polygon(0% 100%, 5px 100%, 5px 5px, 5px 5px, 5px 5px, 5px 5px, 5px 5px, 5px 5px, 5px 0%, 0% 0%);
				-webkit-clip-path: polygon(0% 100%, 5px 100%, 5px 5px, 5px 5px, 5px 5px, 5px 5px, 5px 5px, 5px 5px, 5px 0%, 0% 0%);
      }
      100% {
        clip-path: polygon(0% 100%, 5px 100%, 5px 100%, 5px 100%, 5px 100%, 5px 100%, 5px 100%, 5px 100%, 5px 100%, 0% 100%);
				-webkit-clip-path: polygon(0% 100%, 5px 100%, 5px 100%, 5px 100%, 5px 100%, 5px 100%, 5px 100%, 5px 100%, 5px 100%, 0% 100%);
      }
    }

		@keyframes spin {
		    0%   {
		        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
		    }
		    100% {
		        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
		    }
		}

 .bgParticles {
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 z-index: -100;
	 opacity: 1;
}

svg {
	display:block;
}

.scew-one {
	width: 20vw !important;
}

.two {
	background-color: white;
}

.about-page {
	color: black;
	height: 800px;
	background-color: white;
}

.about-page .sub-title {
	text-align: center;
	font-family:'Coves Bold';
	font-weight:normal;
	padding: -10px 70px;
	padding-top: 50px;
}

.scew-two {
	color: black;
	width: 20vw !important;
	background-color: white;
}

.three {
	background-color: black;
}

.features-page {
	color: white;
	height: 800px;
}

.feautres-page .sub-title {
	text-align: center;
	font-family:'Coves Bold';
	font-weight:normal;
	padding: -10px 70px;
	padding-top: 50px;
}

.scew-three {
	fill: white !important;
	width: 20vw !important;
	background-color: black;
}

.four {
	background-color: white;
}

.pricing-page {
	background-color: black;
}


.scew-four {
	color: black;
	width: 20vw !important;
	background-color: white;
}

.five {
	background-color: black;
}

.features-page {
	height: 100%;
	background-color: black;
}

.contact-page .sub-title {
	text-align: center;
	text-align: center;
	font-family:'Coves Bold';
	font-weight:normal;
	padding: -10px 70px;
	padding-top: 50px;
	transform: rotate(90);
}

.gooey {

	width: 100%;
	height: 150px;
	position: absolute;
	bottom: 0px;
	z-index:2;

	filter: url('#goo');

}

.gooey .bounding-box {

	--flag: 0;
	position: absolute;
	width: calc(100% - 80px);
	height: 110px;
	bottom: 20px;
	left: 30px;
	z-index:2;

}

.gooey .bounding-box:hover {

	--flag: 1;

}

.gooey .menu .button {

	--button_hover_flag: 0;
	display: inline-block;
	position: absolute;
	background: #8551FF;
	left:30px;
	bottom: 30px;
	top:calc(60% - 25px);
	width:50px;
	height:50px;
	border-radius: 100%;
	z-index: 4;
	transition: 0.25s;

}

.gooey .menu .button:hover {

	--button_hover_flag: 1;

}

.gooey .menu .button .hamburger-1, .gooey .menu .button .hamburger-2, .gooey .menu .button .hamburger-3 {

	position: relative;
	top: 11px;
	width: 30px;
	height: 4px;
	background-color: #FFFFFF;
	margin: 4px 10px;
	transition: 0.4s;

}

.change .hamburger-1 {
  -webkit-transform: translate(0px, 8px) rotate(-45deg);
  transform: translate(0px, 8px) rotate(-45deg);
}

.change .hamburger-2 {opacity: 0;}

.change .hamburger-3 {
  -webkit-transform: translate(0px, -8px) rotate(45deg);
  transform: translate(0px, -8px) rotate(45deg);
}

 .gooey .menu .button:hover + .navbar {

	bottom: 0px;

}

.gooey .menu .navbar ul {

	list-style-type: none;
  margin: 0;
  padding-left: 5%;

}

.gooey .menu .navbar ul li {

	float: left;

}

.gooey .menu .navbar ul li a {

	display: block;
	font-family: 'Coves Bold';
	font-size: 20px;
	padding-top: 10px;
  padding-left: 30px;
	padding-right: 30px;

}

.gooey .menu .navbar:hover {

	bottom:0px;
	--button_hover_flag: 1;

}

.gooey .menu .navbar {

	position: absolute;
	background: #8551FF;
	left: -5%;
	bottom: -50px;
	width: 110%;
	height: 50px;
	z-index: 3;
	transition: 0.5s;

}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}


/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav button {font-size: 18px;}
}
